<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
      <li class="breadcrumb-item">
        <a [routerLink]="['/application-fwd']">FWD Reports</a>
      </li>
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-lg-12 mb-4">
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="col-md-12" style="padding: 2px 2px">
          <h3>List of Reports</h3>
          <hr />
          <p>FWD Approved List</p>
          <p>FWD Rejected List</p>
          <p>FWD Exceptional Report</p>
        </div>
      </div>
    </div>
  </div>
</div>
