<div class="container-fluid login-page">
  <div class="container-fluid">
    <div class="row justify-content-center custom-margin">
      <div class="col-md-10" style="margin-top: 20px">
        <!-- Add bg-primary in form tag if want form background color-->
        <!--text-white if want text color white-->
        <form
          [formGroup]="changePasswordForm"
          (ngSubmit)="changePassword()"
          class="shadow-lg p-4 text-white"
        >
          <div class="text-center mb-3" style="color: black">
            <h4>Change Password</h4>
          </div>
          <div class="form-group">
            <div>
              <div>
                <div class="row">
                  <div class="col-md-3">
                    <span
                      style="font-size: 15px"
                      class="input-group-addon"
                      id="basic-addon1"
                      >Current Password</span
                    >
                  </div>
                  <div class="col-md-9">
                    <input
                      type="password"
                      class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                      id="inputFirstName"
                      name="old_password"
                      formControlName="old_password"
                      required
                    />
                  </div>
                </div>
              </div>
              <div *ngIf="old_password.touched">
                <p *ngIf="old_password.errors?.required" style="color: red">
                  Current Password Required
                </p>
              </div>
            </div>
          </div>
          <!--Add text-white below if want text color white-->

          <div class="form-group">
            <div>
              <div>
                <div class="row">
                  <div class="col-md-3">
                    <span
                      style="font-size: 15px"
                      class="input-group-addon"
                      id="basic-addon1"
                      >New Password</span
                    >
                  </div>
                  <div class="col-md-9">
                    <input
                      type="password"
                      class="form-control"
                      id="inputPassword"
                      formControlName="new_password"
                      required
                    />
                  </div>
                </div>
              </div>
              <div *ngIf="new_password.touched">
                <p *ngIf="new_password.errors?.required" style="color: red">
                  New Password Required
                </p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div>
              <div>
                <div class="row">
                  <div class="col-md-3">
                    <span
                      style="font-size: 15px"
                      class="input-group-addon"
                      id="basic-addon1"
                      >Confirm Password</span
                    >
                  </div>
                  <div class="col-md-9">
                    <input
                      type="password"
                      class="form-control"
                      id="inputPassword"
                      formControlName="confirm_password"
                      required
                    />
                  </div>
                </div>
              </div>
              <div *ngIf="confirm_password.touched">
                <p *ngIf="confirm_password.errors?.required" style="color: red">
                  New Password Required
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <span spinner-on="showSpinner" us-spinner></span>

              <button
                type="submit"
                class="btn-lg btn-outline-success mt-3 btn-block shadow-sm font-weight-bold"
                style="background-color: #2bb673; color: #fff"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
